
@font-face {
font-family:"TT Lakes"; 
src: url("font/TT Lakes/TT Lakes Neue Trial Regular.ttf") format("truetype");
font-weight: 400;
font-style: normal;
}
body {
    background-color: #f8f8f8; 
    margin: 0;
}

.header{
background: linear-gradient(
  to right,
  #f8f8f8 0%,
  #ffffff 100%
);
}

.header__title{
font-size: 14px;
font-family:"TT Lakes", sans-serif;
margin: 0;

color: #7e7e82;
/*background-color: #ffffff; */
padding: 20px 30px; 
}
.swiper{
display: none;
}

.brand{
display: grid;
grid-template-columns: repeat(4, 1fr);
row-gap: 15px;
column-gap: 32px;
margin-top: 24px;

}

.brand-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 25px;
    
    border: 1px solid #eaeaea;
    border-radius: 6px;
    width: 240px;
    height: 72px;
    padding: 0 0 0 15px;
    background-color: #ffffff;

    text-decoration: none;
}


.brand-card__Lenovo{
width: 108px;
height: 32px;
}

.brand-card__Samsung{
width: 116px;
height: 38px;
}

.brand-card__Apple{
width: 44px;
height: 44px;
}

.brand-card__ViewSonico{
width: 128px;
height: 21px;
}

.brand-card__Bosch{
width: 128px;
height: 28px;
}
.brand-card__HP{
width: 52px;
height: 52px;
}
.brand-card__Aser{
width: 94px;
height: 24px;
}
.brand-card__Sony{
width: 128px;
height: 25px;
}

.brand-card__hidden{
    display: none;
}

.brand-card__arrow{
    width: 40px;
    height: 40px;
    margin-right: 15px;
    cursor: pointer;/*!*/

    transition: transform 0.3s ease;
}

.brand-card:hover .brand-card__arrow{
    transform: scale(1.1);
}

.brand-card__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.btn{
    display: flex;
    align-items: center;
    margin: 25px;

    border: none;
    background-color: transparent;
    cursor: pointer;

    font-size: 16px;
    color: #1b1c21;
}
.btn__left{
    width: 24px;
    margin-right: 10px;
  transition: transform 0.5s ease;
  --rotate: 0deg; 
  transform: rotate(var(--rotate));
}

.btn__icon.rotated {
  --rotate: 180deg;
}

.btn:hover .btn__icon {
  transform: rotate(var(--rotate)) scale(1.5);
}

@media (max-width: 1119px) {
  .brand {
    grid-template-columns: repeat(3, 1fr);

  }
   
}

@media (max-width: 767px) {
   .brand{
    display: none;
   }
    .swiper{
     display: flex;
      padding-bottom: 40px;
     }

  .swiper-slide {
    width: 240px;      
    flex-shrink: 0;     
  }

  .brand-card__hidden {
    display: flex; 
  }

  .btn {
    display: none;
  }

  .swiper-pagination {
    bottom: 0;
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: #ccc;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background: #1b1c21;
  }
}